Cielo.Sirius.DAO.Products.UnitTest/Service References/Proxy/ProdutosService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ConsultarProdutoElegivelCliente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ConsultarProdutoElegivelCliente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52893/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="ConsultarProdutoElegivelClienteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProdutoElegivelClienteRequest" nillable="true" type="tns:ConsultarProdutoElegivelClienteRequest" />
  <xs:complexType name="ConsultarProdutoElegivelClienteResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumeroTotalRegistros" type="xs:long" />
          <xs:element minOccurs="0" name="Produtos" nillable="true" type="tns:ArrayOfConsultarProdutoElegivelClienteProdutoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProdutoElegivelClienteResponse" nillable="true" type="tns:ConsultarProdutoElegivelClienteResponse" />
  <xs:complexType name="ArrayOfConsultarProdutoElegivelClienteProdutoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultarProdutoElegivelClienteProdutoDTO" nillable="true" type="tns:ConsultarProdutoElegivelClienteProdutoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultarProdutoElegivelClienteProdutoDTO" nillable="true" type="tns:ArrayOfConsultarProdutoElegivelClienteProdutoDTO" />
  <xs:complexType name="ConsultarProdutoElegivelClienteProdutoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoBandeira" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndicadorPossuiDemandasAbertas" type="xs:boolean" />
          <xs:element minOccurs="0" name="IndicadorVendaDigitada" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="NomeBandeira" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeProduto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeTipoLiquidacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrdemApresentacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentualTaxaGarantia" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PercentualTaxaPadrao" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="QuantidadeDiasPrazo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantidadeParcelasLoja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoGrupoProduto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProdutoElegivelClienteProdutoDTO" nillable="true" type="tns:ConsultarProdutoElegivelClienteProdutoDTO" />
</xs:schema>