Cielo.Sirus.DAO.Produtcs/Web References/WR.Servico/v13.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ass="http://canonico.cielo.com.br/canalrelacionamento/atendimentoassistido/v1" xmlns:tns="http://service.cielo.com.br/cadastro/servico/servico/v1" xmlns:com="http://canonico.cielo.com.br/comum/v1" xmlns:serv="http://canonico.cielo.com.br/cadastro/v1" elementFormDefault="qualified" targetNamespace="http://service.cielo.com.br/cadastro/servico/servico/v1" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="?WSDL&amp;interface=ServicoSOAP&amp;part=Comum.xsd" namespace="http://canonico.cielo.com.br/comum/v1" />
  <import schemaLocation="?WSDL&amp;interface=ServicoSOAP&amp;part=Servico.xsd" namespace="http://canonico.cielo.com.br/cadastro/v1" />
  <import schemaLocation="?WSDL&amp;interface=ServicoSOAP&amp;part=SolicitacaoCentralAtendimento.xsd" namespace="http://canonico.cielo.com.br/canalrelacionamento/atendimentoassistido/v1" />
  <annotation>
    <documentation>Versao: 1.0
			Autor: Leandro Estrada
			Versao: 1.1
			Autor: Rodrigo Davila</documentation>
  </annotation>
  <element name="consultarServicoHabilitadoClienteRequest">
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="codigoCliente" nillable="true" type="long">
          <annotation>
            <documentation>Codigo adotado pela Cielo para identificar o Cliente</documentation>
          </annotation>
        </element>
      </sequence>
      <attributeGroup ref="com:paginacaoSequencialEDSLink" />
    </complexType>
  </element>
  <element name="consultarServicoHabilitadoClienteResponse">
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="servicos" type="tns:ServicosType" />
        <element minOccurs="1" maxOccurs="1" name="numeroTotalRegistros" type="long" />
        <element minOccurs="0" maxOccurs="1" name="dataUltimaTransacao" type="dateTime" />
        <element minOccurs="0" maxOccurs="1" name="indicadorVendaUltimoMes" type="boolean" />
        <element minOccurs="0" maxOccurs="1" name="codigoRetorno" type="integer" />
        <element minOccurs="0" maxOccurs="1" name="descricaoRetornoMensagem" type="string" />
      </sequence>
      <attributeGroup ref="com:paginacaoSequencialEDSLink" />
    </complexType>
  </element>
  <element name="consultarServicoElegivelClienteRequest">
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="codigoCliente" nillable="true" type="long">
          <annotation>
            <documentation>Codigo adotado pela Cielo para identificar o Cliente</documentation>
          </annotation>
        </element>
      </sequence>
      <attributeGroup ref="com:paginacaoSequencialEDSLink" />
    </complexType>
  </element>
  <element name="consultarServicoElegivelClienteResponse">
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="servicos" type="tns:ServicosType" />
        <element minOccurs="1" maxOccurs="1" name="numeroTotalRegistros" type="long" />
        <element minOccurs="0" maxOccurs="1" name="codigoRetorno" type="integer" />
        <element minOccurs="0" maxOccurs="1" name="descricaoRetornoMensagem" type="string" />
      </sequence>
      <attributeGroup ref="com:paginacaoSequencialEDSLink" />
    </complexType>
  </element>
  <element name="consultarServicoNaoElegivelClienteRequest">
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="codigoCliente" nillable="true" type="long">
          <annotation>
            <documentation>Codigo adotado pela Cielo para identificar o Cliente</documentation>
          </annotation>
        </element>
      </sequence>
      <attributeGroup ref="com:paginacaoSequencialEDSLink" />
    </complexType>
  </element>
  <element name="consultarServicoNaoElegivelClienteResponse">
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="servicos" type="tns:ServicosType" />
        <element minOccurs="1" maxOccurs="1" name="numeroTotalRegistros" type="long" />
        <element minOccurs="0" maxOccurs="1" name="codigoRetorno" type="integer" />
        <element minOccurs="0" maxOccurs="1" name="descricaoRetornoMensagem" type="string" />
      </sequence>
      <attributeGroup ref="com:paginacaoSequencialEDSLink" />
    </complexType>
  </element>
  <element name="habilitarServicoRequest">
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="codigoCliente" nillable="true" type="long">
          <annotation>
            <documentation>Codigo adotado pela Cielo para identificar o Cliente</documentation>
          </annotation>
        </element>
        <element minOccurs="1" maxOccurs="1" name="codigoServico" nillable="true" type="integer">
          <annotation>
            <documentation>Codigo que identifica o servico disponibilizado pela Cielo aos clientes (estabelecimento comercial).</documentation>
          </annotation>
        </element>
        <element minOccurs="1" maxOccurs="1" name="protocolo" nillable="true" type="string">
          <annotation>
            <documentation>Numero Protocolo do CRM</documentation>
          </annotation>
        </element>
        <element minOccurs="1" maxOccurs="1" name="origem" nillable="true" type="string">
          <annotation>
            <documentation>Origem - Ideitifica o sistema solicitante</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="habilitarServicoResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="codigoRetorno" type="integer" />
        <element minOccurs="0" maxOccurs="1" name="descricaoRetornoMensagem" type="string" />
        <element minOccurs="0" maxOccurs="1" name="statusRetorno" type="string" />
        <element minOccurs="0" maxOccurs="1" name="sistemaLegado" type="string" />
        <element minOccurs="1" maxOccurs="1" name="solicitacaoCentralAtendimento" type="ass:SolicitacaoCentralAtendimento" />
      </sequence>
    </complexType>
  </element>
  <element name="desabilitarServicoRequest">
    <complexType>
      <sequence>
        <element minOccurs="1" maxOccurs="1" name="codigoCliente" nillable="true" type="long">
          <annotation>
            <documentation>Codigo adotado pela Cielo para identificar o Cliente</documentation>
          </annotation>
        </element>
        <element minOccurs="1" maxOccurs="1" name="codigoServico" nillable="true" type="integer">
          <annotation>
            <documentation>Codigo que identifica o servico disponibilizado pela Cielo aos clientes (estabelecimento comercial).</documentation>
          </annotation>
        </element>
        <element minOccurs="1" maxOccurs="1" name="protocolo" nillable="true" type="string">
          <annotation>
            <documentation>Numero Protocolo do CRM</documentation>
          </annotation>
        </element>
        <element minOccurs="1" maxOccurs="1" name="origem" nillable="true" type="string">
          <annotation>
            <documentation>Origem - Ideitifica o sistema solicitante</documentation>
          </annotation>
        </element>
      </sequence>
    </complexType>
  </element>
  <element name="desabilitarServicoResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="1" name="codigoRetorno" type="integer" />
        <element minOccurs="0" maxOccurs="1" name="descricaoRetornoMensagem" type="string" />
        <element minOccurs="0" maxOccurs="1" name="statusRetorno" type="string" />
        <element minOccurs="0" maxOccurs="1" name="sistemaLegado" type="string" />
        <element minOccurs="1" maxOccurs="1" name="solicitacaoCentralAtendimento" type="ass:SolicitacaoCentralAtendimento" />
      </sequence>
    </complexType>
  </element>
  <complexType name="ServicosType">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="dadosServico" nillable="true" type="tns:ServicoType" />
    </sequence>
  </complexType>
  <complexType name="ServicoType">
    <complexContent mixed="false">
      <extension base="serv:Servico">
        <sequence>
          <element minOccurs="0" maxOccurs="1" name="vantagem" type="string" />
        </sequence>
      </extension>
    </complexContent>
  </complexType>
</schema>