Cielo.Sirius.DAO.Products.UnitTest/Service References/ProdutosService/ProdutosService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ConsultarProdutosPrazoFlexivel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ConsultarProdutosPrazoFlexivel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52893/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="ConsultarProdutosPrazoFlexivelRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProdutosPrazoFlexivelRequest" nillable="true" type="tns:ConsultarProdutosPrazoFlexivelRequest" />
  <xs:complexType name="ConsultarProdutosPrazoFlexivelResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoGrupoPrazoFlexivel" type="xs:int" />
          <xs:element minOccurs="0" name="Produtos" nillable="true" type="tns:ArrayOfConsultarProdutosPrazoFlexivelProdutoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProdutosPrazoFlexivelResponse" nillable="true" type="tns:ConsultarProdutosPrazoFlexivelResponse" />
  <xs:complexType name="ArrayOfConsultarProdutosPrazoFlexivelProdutoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultarProdutosPrazoFlexivelProdutoDTO" nillable="true" type="tns:ConsultarProdutosPrazoFlexivelProdutoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultarProdutosPrazoFlexivelProdutoDTO" nillable="true" type="tns:ArrayOfConsultarProdutosPrazoFlexivelProdutoDTO" />
  <xs:complexType name="ConsultarProdutosPrazoFlexivelProdutoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoBandeira" type="xs:int" />
          <xs:element minOccurs="0" name="CodigoProduto" type="xs:int" />
          <xs:element minOccurs="0" name="NomeBandeira" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeProduto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentualTaxaGarantia" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="QuantidadeDiasPrazo" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProdutosPrazoFlexivelProdutoDTO" nillable="true" type="tns:ConsultarProdutosPrazoFlexivelProdutoDTO" />
</xs:schema>