Cielo.Sirius.DAO.Products.UnitTest/Service References/ProdutosService/ProdutosService36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetRequestReason" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetRequestReason" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52893/ProdutosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:52893/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="GetRequestReasonRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DemandId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRequestReasonRequest" nillable="true" type="tns:GetRequestReasonRequest" />
  <xs:complexType name="GetRequestReasonResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Reasons" nillable="true" type="tns:ArrayOfGetRequestReasonDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRequestReasonResponse" nillable="true" type="tns:GetRequestReasonResponse" />
  <xs:complexType name="ArrayOfGetRequestReasonDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetRequestReasonDTO" nillable="true" type="tns:GetRequestReasonDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetRequestReasonDTO" nillable="true" type="tns:ArrayOfGetRequestReasonDTO" />
  <xs:complexType name="GetRequestReasonDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReasonId" type="ser:guid" />
          <xs:element minOccurs="0" name="ReasonName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRequestReasonDTO" nillable="true" type="tns:GetRequestReasonDTO" />
</xs:schema>