Cielo.Sirius.Business.UnitTest/Service References/WCFService/ProdutosService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetEligibleServiceRequestTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetEligibleServiceRequestTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52893/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:import schemaLocation="http://localhost:52893/ProdutosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetEligibleServiceRequestTypesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEligibleServiceRequestTypesRequest" nillable="true" type="tns:GetEligibleServiceRequestTypesRequest" />
  <xs:complexType name="GetEligibleServiceRequestTypesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductRequestTypes" nillable="true" type="tns:ArrayOfGetEligibleServiceRequestTypesDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEligibleServiceRequestTypesResponse" nillable="true" type="tns:GetEligibleServiceRequestTypesResponse" />
  <xs:complexType name="ArrayOfGetEligibleServiceRequestTypesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetEligibleServiceRequestTypesDTO" nillable="true" type="tns:GetEligibleServiceRequestTypesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetEligibleServiceRequestTypesDTO" nillable="true" type="tns:ArrayOfGetEligibleServiceRequestTypesDTO" />
  <xs:complexType name="GetEligibleServiceRequestTypesDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="IntegrationRequestCode" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEligibleServiceRequestTypesDTO" nillable="true" type="tns:GetEligibleServiceRequestTypesDTO" />
</xs:schema>