Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService2519.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetNonEnabledProductRequestTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetNonEnabledProductRequestTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetNonEnabledProductRequestTypesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNonEnabledProductRequestTypesRequest" nillable="true" type="tns:GetNonEnabledProductRequestTypesRequest" />
  <xs:complexType name="GetNonEnabledProductRequestTypesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductRequestTypes" nillable="true" type="tns:ArrayOfGetNonEnabledProductRequestTypesDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNonEnabledProductRequestTypesResponse" nillable="true" type="tns:GetNonEnabledProductRequestTypesResponse" />
  <xs:complexType name="ArrayOfGetNonEnabledProductRequestTypesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetNonEnabledProductRequestTypesDTO" nillable="true" type="tns:GetNonEnabledProductRequestTypesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetNonEnabledProductRequestTypesDTO" nillable="true" type="tns:ArrayOfGetNonEnabledProductRequestTypesDTO" />
  <xs:complexType name="GetNonEnabledProductRequestTypesDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="IntegrationRequestCode" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetNonEnabledProductRequestTypesDTO" nillable="true" type="tns:GetNonEnabledProductRequestTypesDTO" />
</xs:schema>