Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService2523.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetEnabledProductRequestTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetEnabledProductRequestTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GetEnabledProductRequestTypesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ECNumber" type="xs:long" />
          <xs:element minOccurs="0" name="EnabledTypedSaleIndicator" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="FlexibleMaturityRate" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ProductGroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEnabledProductRequestTypesRequest" nillable="true" type="tns:GetEnabledProductRequestTypesRequest" />
  <xs:complexType name="GetEnabledProductRequestTypesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductRequestTypes" nillable="true" type="tns:ArrayOfGetEnabledProductRequestTypesDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEnabledProductRequestTypesResponse" nillable="true" type="tns:GetEnabledProductRequestTypesResponse" />
  <xs:complexType name="ArrayOfGetEnabledProductRequestTypesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetEnabledProductRequestTypesDTO" nillable="true" type="tns:GetEnabledProductRequestTypesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetEnabledProductRequestTypesDTO" nillable="true" type="tns:ArrayOfGetEnabledProductRequestTypesDTO" />
  <xs:complexType name="GetEnabledProductRequestTypesDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element minOccurs="0" name="IntegrationRequestCode" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEnabledProductRequestTypesDTO" nillable="true" type="tns:GetEnabledProductRequestTypesDTO" />
</xs:schema>