Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService258.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationId" type="ser:guid" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:ExecutionStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:simpleType name="ExecutionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotExecuted" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="TechnicalError" />
      <xs:enumeration value="BusinessError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExecutionStatus" nillable="true" type="tns:ExecutionStatus" />
  <xs:complexType name="DTOBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DTOBase" nillable="true" type="tns:DTOBase" />
</xs:schema>