Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService2524.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.AlterarParcelaFaixaProduto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.AlterarParcelaFaixaProduto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="AlterarParcelaFaixaProdutoRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
          <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DadosFaixaTaxaSegmentado" nillable="true" type="tns:ArrayOfAlterarParcelaFaixaProdutoDTO" />
          <xs:element minOccurs="0" name="IdMotivo" type="ser:guid" />
          <xs:element minOccurs="0" name="PercentualTaxa" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantidadeParcelas" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlterarParcelaFaixaProdutoRequest" nillable="true" type="tns:AlterarParcelaFaixaProdutoRequest" />
  <xs:complexType name="ArrayOfAlterarParcelaFaixaProdutoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlterarParcelaFaixaProdutoDTO" nillable="true" type="tns:AlterarParcelaFaixaProdutoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlterarParcelaFaixaProdutoDTO" nillable="true" type="tns:ArrayOfAlterarParcelaFaixaProdutoDTO" />
  <xs:complexType name="AlterarParcelaFaixaProdutoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoFaixa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroFinalParcelaFaixa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroInicialParcelaFaixa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentualTaxaFaixa" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlterarParcelaFaixaProdutoDTO" nillable="true" type="tns:AlterarParcelaFaixaProdutoDTO" />
  <xs:complexType name="AlterarParcelaFaixaProdutoResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:ResponseBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlterarParcelaFaixaProdutoResponse" nillable="true" type="tns:AlterarParcelaFaixaProdutoResponse" />
</xs:schema>