Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService2518.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ManterPrazoFlexivel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ManterPrazoFlexivel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="ManterPrazoFlexivelRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
          <xs:element minOccurs="0" name="CodigoGrupoPrazoFlexivel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdMotivo" type="ser:guid" />
          <xs:element minOccurs="0" name="IndicaOperacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentualTaxaGrupoPrazoFlexivel" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="QuantidadeDiasGrupoPrazoFlexivel" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManterPrazoFlexivelRequest" nillable="true" type="tns:ManterPrazoFlexivelRequest" />
  <xs:complexType name="ManterPrazoFlexivelResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManterPrazoFlexivelResponse" nillable="true" type="tns:ManterPrazoFlexivelResponse" />
</xs:schema>