Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService256.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.SolicitaAnaliseAlvara" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.SolicitaAnaliseAlvara" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="SolicitaAnaliseAlvaraRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
          <xs:element minOccurs="0" name="CodigoSituacaoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdMotivo" type="ser:guid" />
          <xs:element minOccurs="0" name="NomeContato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeEmailContato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeProprietario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NumeroTelefoneContato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SolicitaAnaliseAlvaraRequest" nillable="true" type="tns:SolicitaAnaliseAlvaraRequest" />
  <xs:complexType name="SolicitaAnaliseAlvaraResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="SistemaLegado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SolicitacaoCentralAtendimento" nillable="true" type="tns:SolicitaAnaliseAlvaraDTO" />
          <xs:element minOccurs="0" name="StatusRetorno" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SolicitaAnaliseAlvaraResponse" nillable="true" type="tns:SolicitaAnaliseAlvaraResponse" />
  <xs:complexType name="SolicitaAnaliseAlvaraDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoSolicitacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataPrevistaConclusaoSolicitacao" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SolicitaAnaliseAlvaraDTO" nillable="true" type="tns:SolicitaAnaliseAlvaraDTO" />
</xs:schema>