Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService2527.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetServiceRequestsHistory" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.GetServiceRequestsHistory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="GetServiceRequestsHistoryRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
          <xs:element minOccurs="0" name="CodigoServico" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetServiceRequestsHistoryRequest" nillable="true" type="tns:GetServiceRequestsHistoryRequest" />
  <xs:complexType name="GetServiceRequestsHistoryResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ServiceRequests" nillable="true" type="tns:ArrayOfGetServiceRequestsHistoryDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetServiceRequestsHistoryResponse" nillable="true" type="tns:GetServiceRequestsHistoryResponse" />
  <xs:complexType name="ArrayOfGetServiceRequestsHistoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetServiceRequestsHistoryDTO" nillable="true" type="tns:GetServiceRequestsHistoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetServiceRequestsHistoryDTO" nillable="true" type="tns:ArrayOfGetServiceRequestsHistoryDTO" />
  <xs:complexType name="GetServiceRequestsHistoryDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CaseTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClosedOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ServiceRequestName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetServiceRequestsHistoryDTO" nillable="true" type="tns:GetServiceRequestsHistoryDTO" />
</xs:schema>