Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ConsultarServicoHabilitadoCliente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ConsultarServicoHabilitadoCliente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52893/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="ConsultarServicoHabilitadoClienteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarServicoHabilitadoClienteRequest" nillable="true" type="tns:ConsultarServicoHabilitadoClienteRequest" />
  <xs:complexType name="ConsultarServicoHabilitadoClienteResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataUltimaTransacao" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IndicadorVendaUltimoMes" type="xs:boolean" />
          <xs:element minOccurs="0" name="NumeroTotalRegistros" type="xs:long" />
          <xs:element minOccurs="0" name="Servicos" nillable="true" type="tns:ArrayOfConsultarServicoHabilitadoClienteServicoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarServicoHabilitadoClienteResponse" nillable="true" type="tns:ConsultarServicoHabilitadoClienteResponse" />
  <xs:complexType name="ArrayOfConsultarServicoHabilitadoClienteServicoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultarServicoHabilitadoClienteServicoDTO" nillable="true" type="tns:ConsultarServicoHabilitadoClienteServicoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultarServicoHabilitadoClienteServicoDTO" nillable="true" type="tns:ArrayOfConsultarServicoHabilitadoClienteServicoDTO" />
  <xs:complexType name="ConsultarServicoHabilitadoClienteServicoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoServico" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataHabilitacaoServico" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DescricaoServico" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndicadorPossuiDemandasAbertas" type="xs:boolean" />
          <xs:element minOccurs="0" name="NomeServico" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Vantagem" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarServicoHabilitadoClienteServicoDTO" nillable="true" type="tns:ConsultarServicoHabilitadoClienteServicoDTO" />
</xs:schema>