Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.HabilitarPrazoFlexivel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.HabilitarPrazoFlexivel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52893/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="HabilitarPrazoFlexivelRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
          <xs:element minOccurs="0" name="CodigoGrupoPrazoFlexivel" type="xs:int" />
          <xs:element minOccurs="0" name="IndicaOperacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Origem" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentualTaxaGrupoPrazoFlexivel" type="xs:double" />
          <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantidadeDiasGrupoPrazoFlexivel" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HabilitarPrazoFlexivelRequest" nillable="true" type="tns:HabilitarPrazoFlexivelRequest" />
  <xs:complexType name="HabilitarPrazoFlexivelResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoSolicitacao" type="xs:int" />
          <xs:element minOccurs="0" name="DataPrevistaConclusaoSolicitacao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SistemaLegado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusRetorno" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HabilitarPrazoFlexivelResponse" nillable="true" type="tns:HabilitarPrazoFlexivelResponse" />
</xs:schema>