Cielo.Sirius.UI.USD.ProductsAndServices/Service References/ProdutosService/ProdutosService259.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.SolicitarNegociacaoTaxa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.SolicitarNegociacaoTaxa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Cielo.Sirius.Integration.OutboundService/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="SolicitarNegociacaoTaxaRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArvoreDeAssunto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CanalDeAtendimento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CaseType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CelularContato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
          <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdMotivo" type="ser:guid" />
          <xs:element minOccurs="0" name="IlhaDeAtendimento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeContato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentCaseId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentualTaxaPropostaConcorrente" type="xs:decimal" />
          <xs:element minOccurs="0" name="Protocolo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TelefoneContato" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TituloDaOcorrencia" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SolicitarNegociacaoTaxaRequest" nillable="true" type="tns:SolicitarNegociacaoTaxaRequest" />
  <xs:complexType name="SolicitarNegociacaoTaxaResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoSolicitacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataPrevistaConclusaoSolicitacao" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SistemaLegado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StatusRetorno" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SolicitarNegociacaoTaxaResponse" nillable="true" type="tns:SolicitarNegociacaoTaxaResponse" />
</xs:schema>