Cielo.Sirius.Business.UnitTest/Service References/ProdutosService/ProdutosService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ConsultarProdutoNaoElegivelCliente" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Contracts.ConsultarProdutoNaoElegivelCliente" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52893/ProdutosService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" />
  <xs:complexType name="ConsultarProdutoNaoElegivelClienteRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoCliente" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProdutoNaoElegivelClienteRequest" nillable="true" type="tns:ConsultarProdutoNaoElegivelClienteRequest" />
  <xs:complexType name="ConsultarProdutoNaoElegivelClienteResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="NumeroTotalRegistros" type="xs:long" />
          <xs:element minOccurs="0" name="Produtos" nillable="true" type="tns:ArrayOfConsultarProdutoNaoElegivelClienteProdutoDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProdutoNaoElegivelClienteResponse" nillable="true" type="tns:ConsultarProdutoNaoElegivelClienteResponse" />
  <xs:complexType name="ArrayOfConsultarProdutoNaoElegivelClienteProdutoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultarProdutoNaoElegivelClienteProdutoDTO" nillable="true" type="tns:ConsultarProdutoNaoElegivelClienteProdutoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultarProdutoNaoElegivelClienteProdutoDTO" nillable="true" type="tns:ArrayOfConsultarProdutoNaoElegivelClienteProdutoDTO" />
  <xs:complexType name="ConsultarProdutoNaoElegivelClienteProdutoDTO">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Cielo.Sirius.Foundation" base="q3:DTOBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoBandeira" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodigoProduto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IndicadorPossuiDemandasAbertas" type="xs:boolean" />
          <xs:element minOccurs="0" name="IndicadorVendaDigitada" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="NomeBandeira" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeProduto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomeTipoLiquidacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrdemApresentacao" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentualTaxaGarantia" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PercentualTaxaPadrao" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="QuantidadeDiasPrazo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="QuantidadeParcelasLoja" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoGrupoProduto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultarProdutoNaoElegivelClienteProdutoDTO" nillable="true" type="tns:ConsultarProdutoNaoElegivelClienteProdutoDTO" />
</xs:schema>